BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 2
PointerAlignment: Left
DerivePointerAlignment: false
QualifierAlignment: Left
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AlignConsecutiveAssignments: false
BinPackArguments: false
BinPackParameters: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"fastmm/'
    Priority: 2
  - Regex: '^<(doctest|benchmark|fmt|simdjson|toml\+\+|pybind11|openssl)/'
    Priority: 3
  - Regex: '^<.*\.h>'
    Priority: 4
  - Regex: '^<'
    Priority: 5
  - Regex: '.*'
    Priority: 1
